<mat-form-field [formGroup]="parentFormGroup!">
  <mat-label>Tags</mat-label>
  <mat-chip-grid #chipGrid
                 formControlName="tags">
    @for (tag of tags; track $index) {
      <mat-chip-row>
        {{tag}}

      </mat-chip-row>
      <div class="flex items-center gap-2">
        <button (click)="remove(tag)" class="relative" style="top: 2px;opacity: 0.5;">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    }
  </mat-chip-grid>
  <input placeholder="New tag..." #fruitInput [formControl]="fruitCtrl"
         [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
         [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
         (matChipInputTokenEnd)="add($event)"/>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    @for (fruit of filteredFruits | async; track fruit) {
      <mat-option [value]="fruit">{{fruit}}</mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
