<div class="gallery">
  @for(image of images; let i = $index;track i) {
    <div class="thumb" [ngClass]="{
        'tall': image.isTall,
        'short': !image.isTall
      }" (click)="open(i)">
      @if(image.isVideo) {
        <div class="play">▶</div>
      }
      <img [src]="image.thumbnail" alt="Image thumbnail">
    </div>
  }
</div>

@if(currentIndex !== null) {
  <div class="lightbox" (click)="close()">
    <span style="opacity: 0.5;" class="close" (click)="close()">&times;</span>
    <div class="lightbox-content" (click)="$event.stopPropagation()">
        @if(images[currentIndex].isVideo) {
          <video class="lightbox-video" controls>
            <source [src]="images[currentIndex]?.image" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        } @else {
          <img alt="" [src]="images[currentIndex].image" class="lightbox-image" />
        }
    </div>
    <a style="opacity: 0.5;" class="prev" (click)="prev()">&#10094;</a>
    <a style="opacity: 0.5;" class="next" (click)="next()">&#10095;</a>
  </div>

}
