<div class="wrapper-about">
  <div class="container">
    <h2>Hello! I'm Adam.</h2>
    <div class="body2">
      I come from southern Poland, but my place in the world is changing like in a kaleidoscope. I focus on getting to know new experiences and discovering the world from every angle: from philosophy, quantum physics, learning dance
      and foreign languages, to learning about the local culture while traveling. Whenever I am not traveling, I am busy implementing my own idea in business. I have created this blog for three reasons: for sharing my best travel
      photographies, for fulfilling my travel-dreams (sharing best memories) and to use this website as my professional technical portfolio.
    </div>
    <div class="buttons"><a [routerLink]="['visited']">Visited countries</a></div>
  </div>
  <div class="images2">
    <div class="img1"></div>
    <div class="img2"></div>
    <div class="img3"></div>
  </div>
</div>
