<!--@if((items$ | async); as items) {-->
<!--  @for(item of items; track $index) {-->
<!--    {{item.title}}-->
<!--  }-->
<!--}-->
<div class="relative blur-image max-w-screen-lg mx-auto animation">
  <img src="bg.webp"  alt=""/>
</div>

<div class="mt-16 px-6 flex-grow w-full grid place-content-center gap-12 animation" style="padding-bottom: 140px;">
  <div style="max-width: 700px; display: flex; flex-direction: column; gap: 40px;">
    <h1 class="__className_e71791 lg:text-3xl text-2xl leading-normal fade0 font-medium font-darker" style="line-height: 1.8;">Traveling, Programming, and Beyond!</h1>
    <div class="__className_e71791 text-lg" style="text-align: left;">
        @for(paragraph of paragraphs; track $index) {
          <p class="mb-8">
            {{paragraph}}
          </p>
        }
      <span class="fade4">— Adam Gąsiorek</span>
    </div>

    <hr style="border-color: #3E475F;"/>

    <div class="flex flex-col gap-3">
      <h3 class="text-2xl leading-normal ">
        <span class="animate-slideunderline decoration-[2px] underline-offset-8">
        Pages</span></h3>
      <table class="min-w-full fade7">
        <tbody class="">
        <tr class="flex justify-between items-center gap-3">
          <td class="py-2 whitespace-nowrap text-lg cursor-pointer hover:underline"><a [routerLink]="['pictures']">Pictures</a></td>
        </tr>
        <tr class="flex justify-between items-center gap-3">
          <td class="py-2 whitespace-nowrap text-lg cursor-pointer hover:underline"><a [routerLink]="['visited']">Visited countries</a></td>
        </tr>
        </tbody>
      </table>
    </div>


  </div>
</div>


