/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: Lora, sans-serif;
  src: url('../public/fonts/lora/Lora-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Lora, sans-serif;
  src: url('../public/fonts/lora/Lora-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


body {
  font-family: "Lora";
  background-color: #181c25;
  overscroll-behavior-y: none;
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: #c6c8cf;
  }


.font-darker {
  color: #dee0e6;

}

.animation {
  animation: 2s fadeInUp;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blur-image::before {
  content: '';
  position: absolute;
  top: 0;
  width: 20%;
  height: 100%;
  background: linear-gradient(90deg,#181c25 0,transparent);
}

.blur-image:after {
  content: '';
  position: absolute;
  top: 0;
  width: 20%;
  height: 100%;
  right: 0;
  background: linear-gradient(270deg,#181c25 0,transparent);
}
