<button (click)="save()"
        class="mb-4 bg-blue-500 text-white px-3 py-2 rounded-md text-sm font-medium flex items-center">
  Save
</button>

<app-upload-box (selectedFiles)="onFilesSelected($event)"></app-upload-box>

<div class="flex flex-col gap-4 py-4">
<!--  @for (item of images; track $index) {-->
<!--    <div class="square">-->
<!--      <div class="content">-->
<!--        @if(item.loading) {-->
<!--          <div class="animate-pulse bg-gray-100 h-full"></div>-->
<!--        } @else if (item.thumbnail) {-->
<!--          <img [src]="item.thumbnail" />-->
<!--        }-->
<!--      </div>-->
<!--    </div>-->
<!--  }-->
  <app-upload-pictures-loading></app-upload-pictures-loading>

</div>
