<form [formGroup]="picturesForm" (ngSubmit)="save()">
  <div class="flex flex-row gap-4 items-center justify-between">
    <mat-form-field>
      <mat-label>Folder to save</mat-label>
      <input type="text" matInput formControlName="folder" />
    </mat-form-field>

    <button
      [disabled]="picturesForm.invalid || picturesForm.value.saveLoading"
      [ngClass]="{
        'opacity-50': picturesForm.invalid || picturesForm.value.saveLoading
      }"
      class="mb-4 bg-blue-500 text-white px-3 py-2 rounded-md text-sm font-medium flex items-center">
      @if (picturesForm.value.saveLoading) {
        <svg
          class="animate-spin -ml-1 mr-3 h-5 w-5 text-white"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24">
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
        </svg>
      }
      Save
    </button>
  </div>

  <app-upload-box (selectedFiles)="onFilesSelected($event)"></app-upload-box>

  <div class="flex flex-row mt-4">
    <p>Save to all</p>
    <form class="flex flex-row" [formGroup]="saveToAllForm" (ngSubmit)="saveToAll()">
      <div class="flex flex-row gap-4 items-center justify-between">
        <app-select-country
          [parentFormGroup]="saveToAllForm"></app-select-country>
      </div>
      <button>
        Save
      </button>
    </form>
  </div>


  <div class="flex flex-col gap-4 py-4" formArrayName="pictures">
    @for (picture of pictures.controls; track $index) {
      <div class="square">
        <div class="content">
          @if (picture.value.loading) {
            <app-upload-pictures-loading></app-upload-pictures-loading>
          } @else if (picture.value.thumbnail) {
            <app-upload-picture-preview
              [parentFormGroup]="getFormGroup(picture)">
            </app-upload-picture-preview>
          }
        </div>
      </div>
    }
  </div>
</form>
